* {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    padding:0;
    margin: 0;
}

body {
    background-image: radial-gradient(#212121 5px, transparent 5px),
        radial-gradient(#fafafa 5px, transparent 5px);
    background-color: salmon;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-size: 62.5%
  }

header, main, footer, section {
    border-radius: 10px;
    border: 5px solid black;
    padding: 20px;
    width: 800px;
    margin-top: 30px;

}
header, footer, main {
    background: lightgreen;
}

section {
    width: 46%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

main {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#pizzaView, .optionsMenu {
    background: lightblue;
    height: 400px;
    position: relative;
}

#pizzaView {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: middle;
}

main section div {
    border: 0;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}

ul {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    height: 100%;
    padding: 0;
}

li {
    flex: auto;
    font-size: 2rem;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li:hover {
    background: salmon;
}

#goToOptions1, #goToOptions2, #goToOptions3 {
    color: red;
}

h1 {
    font-size: 3rem;
}

.hidden {
    display:none;
}

/* ---------- toppings and toppers ---------- */

.oval {
    /*shape-outside: ellipse(50% 50%);*/
    clip-path: ellipse(50% 50%);
    height: calc(2/3 * 310px);
    width: 310px;
    z-index: 250;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(15, 20px);
    grid-template-rows: repeat(10, 20px);
}

.sauceTopper {
    color: black;
    z-index: 260;
    position: static;

}

.sauceTopper * {
    margin: 0;
    padding: 0;
}

:root {  
    --width: 31px;
    --height: 31px;
    --herbGreen: #24531a;
    --d-red: #aa1a1a;
    --herbGreen2: #314709;
    --sparkleblue: #568df5;
    --sparklewhite: #d3e2ff;
    --sparklepurple: #d056f5;
    --sparklepink: #f07686;
  }

.sauceTopper {
    width: var(--width);
    height: var(--height);
    clip-path: circle(5px at 0 0);
  
  }
/* noSauceTopper */
.noSuaceTopper {
    background: none;
}


/* basicSauceTopper */
.basicSauceTopper:nth-child(1),
.basicSauceTopper:nth-child(3n+4) {
background: radial-gradient(circle at 0 0, transparent 0%, var(--herbGreen) 30%);
}

.basicSauceTopper:nth-child(2), 
.basicSauceTopper:nth-child(3n+2) {
transform: rotate(45deg);
background-color: radial-gradient(circle at 0 0, transparent 0%, var(--herbGreen2) 30%);
}

.basicSauceTopper:nth-child(3n+3) {
transform: rotate(90deg);
background: radial-gradient(circle at 100% 50%, transparent 0%, var(--d-red) 50%);
clip-path: circle(8px at 100% 50%);
}

/* magicSauceTopper */
@keyframes sparkleBlue {
    0% {background: var(--sparkleblue);)}
    50% {background: transparent;)}
    60% {background: var(--sparklewhite);)}
    100% {background: var(--sparkleblue);)}
}

@keyframes sparklePurp {
    0% {background: var(--sparklepurple);)}
    50% {background: transparent;)}
    60% {background: var(--sparklewhite);)}
    100% {background: var(--sparklepurple);)}
}

@keyframes sparklePink {
    0% {background: var(--sparklepink);)}
    30% {background: transparent;)}
    50% {background: var(--sparklewhite);)}
    100% {background: var(--sparklepink);)}
}


.magicSauceTopper:nth-child(1),
.magicSauceTopper:nth-child(3n+4) {
    clip-path: circle(3px at 30% 60%);
    background: radial-gradient(circle at 30% 60%, transparent 0%, var(--sparkleblue) 30%);
    animation-name: sparkleBlue;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;

}


.magicSauceTopper:nth-child(2), 
.magicSauceTopper:nth-child(3n+2) {
    transform: rotate(90deg);
    background: radial-gradient(circle at 100% 50%, transparent 0%, var(--d-red) 50%);
    clip-path: circle(2px at 60% 30%);
    animation-name: sparklePink;
    animation-duration: 2.3s;
    animation-iteration-count: infinite;
    animation-delay: .3s;
}

.magicSauceTopper:nth-child(3n+3) {
    transform: rotate(90deg);
    background: radial-gradient(circle at 100% 50%, transparent 0%, var(--d-red) 50%);
    clip-path: circle(2px at 50% 50%);
    animation-name: sparklePurp;
    animation-duration: 3.8s;
    animation-iteration-count: infinite;
    animation-delay: .1s;
}